.sort-and-filter-container {
    display: flex;
}

.search-section-background {
  background-color: white !important;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.sort-dropdown-parent {
  width: 20%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-dropdown-text {
  width: 30%;
  font-size: 16px;
  margin-right: 0;
  float: left;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
}

.sort-dropdown-menu {
  width: 70%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dropdown-tags-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    margin-left: 2rem;
  }

.card-container { 
  display: flex; 
  align-items: 'center';
  justify-content: 'center';
}

.card-contents-container {
  display: table;
  vertical-align: middle;
  width: 100%;
}

.card-contents-cell-left {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  width: 50%;
}

.card-contents-cell-right {
  display: table-cell;
  vertical-align: top;
  width: 50%;
}

.card-ratings-container {
  display: table;
  width: 100%;
}

.card-ratings-stars {
  display: table;
  vertical-align: middle;
  padding-bottom: 0.3rem;
}

.card-header {
  font-size: x-large;
  font-weight: bold;
  color: black;
  padding-bottom: 2%;
}

.card-meta {
  font-size: large;
}

.card-description {
  color: black;
  width: 80%;
}

.ui.checkbox.checkbox-major input:checked~.box:before,
.ui.checkbox.checkbox-major input:checked~label:before,
.ui.checkbox.checkbox-major input:focus:checked~.box:before,
.ui.checkbox.checkbox-major input:focus:checked~label:before,
.ui.label.major,
.ui.dropdown .menu.major {
  background-color: var(--major-tags);
}

.ui.checkbox.checkbox-term input:checked~.box:before,
.ui.checkbox.checkbox-term input:checked~label:before,
.ui.checkbox.checkbox-term input:focus:checked~.box:before,
.ui.checkbox.checkbox-term input:focus:checked~label:before,
.ui.label.term,
.ui.dropdown .menu.term {
  background-color: var(--term-tags);
}

.ui.checkbox.checkbox-prefix input:checked~.box:before,
.ui.checkbox.checkbox-prefix input:checked~label:before,
.ui.checkbox.checkbox-prefix input:focus:checked~.box:before,
.ui.checkbox.checkbox-prefix input:focus:checked~label:before,
.ui.label.prefix,
.ui.dropdown .menu.prefix {
  background: var(--prefix-tags);
}

.ui.label.undergraduate {
  background: var(--undergraduate);
}

.ui.label.postgraduate {
  background: var(--postgraduate);
}

.ui.dropdown .menu .item {
  background: white;
}

.title-wrapper {
  min-height: 90vh;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.title-wrapper h1 {
  font-family: 'nevis', sans-serif;
  font-size: 7rem;
}

.title-wrapper h2 {
  font-family: 'nevis', sans-serif;
  margin-bottom: 5rem;
  letter-spacing: 0rem;
}

.title-wrapper .left {
  margin-top: 15vh;
  width: 50%;
}

.title-wrapper .right {
  position: relative;
  margin-top: 20vh;
  width: 40%;
}

.cs {
  /* color: var(--csesoc-blue); */
  font-family: 'nevis', sans-serif;
}

.electives {
  font-family: 'nevis', sans-serif;
  letter-spacing: -0.25rem;

  background: linear-gradient(45deg, #ff0f7b, var(--csesoc-blue));

  background-clip: text;
  color: transparent;
}

.right .blob {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 300%;
  transform: translate(-30%, -25%) rotate(-20deg) ;
  z-index: -1;

  background-image: url(../assets/blobs/vivian-blob.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.right .feedback-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#search-section {
  padding-top: 2rem;
  align-items: center;
}
