.ratingCategory {
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.ratingTitle {
    margin-bottom: 1rem;
}

.required {
    color: red;
}

.ratingStyle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.easterEgg{
    color: white;
}
