:root {
  --csesoc-blue: #3A76F8;
  --csesoc-navy: #40404C;
  --csesoc-white: #FFFFFF;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-grid-row {
  margin: 0 25px;
}

.my-grid-top {
  margin: 0 25px;
  margin-top: 15px; 
}

.my-grid-bottom {
  margin: 0 25px;
  margin-bottom: 15px;
}

.my-review-row {
  margin: 0 15px;
  margin-top: 3px;
}

.course-label {
  margin: 0 0 8px 10px;
  color: var(--csesoc-blue);
}

.review-heading {
  margin-left: 20px;
  margin-top: 15px;
}

.sort-reviews {
  margin-top: 23px;
  margin-left: 10px;
}

.review-button {
  
}

.ui.progress.bar-chart {
  margin: 1px;
}

.display-wrapper {
  min-height: 100vh;
}

footer {
  background-color: var(--csesoc-blue);
  padding: 1.5rem;
  color: var(--csesoc-white);
}

.csesoc-logo {
  margin-bottom: 1.5rem;
}

.card-displayer {
  display: flex;
  justify-content: space-between;
}

.search-section-background {
  background-color: white!important;
}

.course-review-card {
  display: block;
  margin-bottom: 2rem;
}

.my-front-page-tags {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.logo-size {
  width: 30%;
}

.searchbar{
  margin-bottom: 1rem;
}

.ui.menu.secondary.pointing.item{
  float: left;
}