:root {
  --csesoc-blue: #3A76F8;
  --csesoc-white: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-grid-row {
  margin: 0 10px;
}

.course-label {
  margin: 0 0 8px 10px;
  color: var(--csesoc-blue);
}

footer {
  background-color: var(--csesoc-blue);
  padding: 1.5rem;
  color: var(--csesoc-white);
}

.csesoc-logo {
  margin-bottom: 1.5rem;
}

.card-displayer {
  display: flex;
  justify-content: space-between;
}

.search-section-background {
  background-color: white!important;
}