:root {
  --csesoc-blue: #3A76F8;
  --csesoc-white: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-grid-row {
  margin: 0 10px;
}

.course-label {
  margin: 0 0 8px 10px;
  color: var(--csesoc-blue);
}

.ui.progress.bar-chart {
  margin: 1px;
}

footer {
  background-color: var(--csesoc-blue);
  padding: 1.5rem;
  color: var(--csesoc-white);
}

.csesoc-logo {
  margin-bottom: 1.5rem;
}

.card-displayer {
  display: flex;
  justify-content: space-between;
}

.search-section-background {
  background-color: white!important;
  display: flex;
}

.my-front-page-card {
  display: flex;
  justify-content: space-between;
  flex-direction:row;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-front-page-tags {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.sort-dropdown-parent {
  width:20%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-dropdown-text {
  width: 30%;
  font-size: 16px;
  margin-right: 0;
  float: left;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  

}

.sort-dropdown-menu {
  width: 70%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dropdown-tags {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-tags-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  margin-left: 1rem;
}